@import "styles/variables";
@import "styles/mixins";

.container {
  position: relative;
  width: 1024px;
  height: 768px;
  overflow-y: hidden;
}

.wrapper {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.slideWrapper {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

.pagination {
  position: absolute;
  top: 70.5rem;
  right: 5.4rem;
}

.scroll {
  position: absolute;
  left: calc(50% - 127.9rem / 2);
  bottom: 5.8rem;
  transform: translateY(calc(76.8rem));
  transition-duration: 0.35s;
  pointer-events: none;
}

.scrollVisible {
  transform: translateY(0);
  pointer-events: all;
}

.timeline {
  display: flex;
  justify-content: space-between;
  margin: 6rem 0 0 -0.7rem;
  padding: 0;
  width: calc(100% + 1.4rem);
  list-style: none;
}

.timeitem {
  @include fontRegular($colorLight, "Gotham", 400);
}

@keyframes slideUp {
  0% {
    transform: translateY(-50rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(50rem);
  }
  100% {
    transform: translateY(0);
  }
}
